body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: limegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.code-column {
    font-size: 1rem; /* using rem for scalable unit */
    opacity: 0.8;
    animation: flow 5s infinite linear;
    white-space: nowrap;
    position: absolute;
    top: 0;
    width: 1rem; /* using rem for scalable unit */
}

@keyframes flow {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}

#countdown {
    font-size: 5em;
    position: absolute;
    z-index: 2;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px limegreen;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    white-space: nowrap;
    position: fixed; /* Fixed position */
    top: 50%; /* Centered vertically */
    left: 50%; /* Centered horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    display: inline-block; /* Changed from display none to inline-block */
}

h1 span {
    opacity: 1; /* Changed opacity to make it visible */
    transform: translateY(0); /* Reset the transform property */
}

.btn {
    display: inline-block; /* Changed from display none to inline-block */
    padding: 10px 20px;
    color: limegreen;
    background-color: black;
    text-decoration: none;
    border: 2px solid limegreen;
    border-radius: 5px;
    font-size: 1.5em;
    position: fixed; /* Fixed position */
    bottom: 20px; /* Positioned it at the bottom */
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); /* Adjust for exact centering */
}

/* Responsive styling for mobile devices */
@media (max-width: 600px) {
    #countdown {
        font-size: 2.5em;
        padding: 10px;
    }
    
    h1 {
        font-size: 2em;
        margin-bottom: 15px;
    }
    
    .btn {
        font-size: 1.2em;
        padding: 8px 16px;
    }

    .code-column {
        font-size: 0.75rem; /* using rem for scalable unit */
        width: 0.75rem; /* using rem for scalable unit */
    }
}

